<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>NODE JS TRAINING TITLE</title>
</head>
<body>
	
	<center>
		<h1><p>Oops! Site Currently Under Maintenance Mode</p> <a href="/"><small>Back to home page</small></a></h1>
	</center>

</body>
</html>